.Emotify-header {
  max-width: 800px;
}

.Display-Navigator {
  max-width: 1000px;
}

object.Display-LocationImg {
  width: 400px;
}

.btn-size {
  width: 200px !important;
  margin-top: 2px;
  margin-bottom: 2px;
}

.tooltip {
  font-size: 20px;
}
